[package]
name = "broker"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.7"
common = { path = "../common" }
uuid = { workspace = true }  
serde = { workspace = true }
serde_json = { workspace = true }
chrono = { workspace = true }
tokio = { workspace = true }

